@use 'variables' as *;

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#page-content {
  flex: 1;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: $spacing-lg;
  padding-top: calc($nav-height + $spacing-lg);
}
