@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-body;
  color: $text-primary;
  background-color: $bg-primary;
  line-height: 1.6;
  min-height: 100vh;
}

a {
  color: $accent;
  text-decoration: none;
  transition: color $transition-fast;

  &:hover {
    color: $accent-dim;
  }
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4 {
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.2;
}

ul, ol {
  list-style: none;
}

code, pre {
  font-family: $font-code;
}
