---
import '../styles/global.scss';
import BaseLayout from '../layouts/BaseLayout.astro';
import type { SiteData } from '../types';
import rawData from '../data/data.json';
const data = rawData as SiteData;
---

<BaseLayout title="About" name={data.name} description="Personal website of Mark Blaha II">
  <section>
    <h1>About</h1>
  </section>
</BaseLayout>