---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { ProjectEntry, SiteData } from "../types";
import rawData from "../data/data.json";
const data = rawData as SiteData;
const projects = data.projects as ProjectEntry[];
---

<BaseLayout title="Projects" name={data.name}>
  <section>
    <h1>Projects</h1>
    {projects.map(project => (
      <article>
        <h2>{project.name}</h2>
        <p><strong>Date:</strong>{project.date}</p>
        <p>{project.description}</p>
      </article>
    )
    )
    }
  </section>
</BaseLayout>