---
import '../styles/global.scss';
import '../styles/footer.scss';

---
<footer class="footer">
  <div class="footer__container">
    <p>&copy; {new Date().getFullYear()} Mark Blaha II. All rights reserved.</p>
  </div>
</footer>