---
import type { SiteData } from '@/types';
import rawData from '../data/data.json';
import '../styles/global.scss';
import '../styles/navbar.scss';
const data = rawData as SiteData
---

<nav class="navbar">
  <div class="navbar__container">
    <a href="/" class="navbar__logo">{data.name}</a>
    <ul class="navbar__menu">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>