---
---
<button class="theme-toggle" id="theme-toggle" aria-label="Toggle dark mode">
  <img src="../assets/moon.svg" alt="Enable Dark Mode" class="theme-toggle-icon" id="moon-icon" />
  <img src="../assets/sun.svg" alt="Disable Dark Mode" class="theme-toggle-icon" id="sun-icon" style="display: none" />
</button>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const button = document.getElementById('theme-toggle');
    const root = document.documentElement;
    const moonIcon = document.getElementById('moon-icon');
    const sunIcon = document.getElementById('sun-icon');
    const theme = localStorage.getItem('theme');
    if (theme === 'dark') {
      root.setAttribute('data-theme', 'dark');
      moonIcon.style.display = 'none';
      sunIcon.style.display = 'inline';
    }

    button?.addEventListener('click', () => {
      const isDark = root.getAttribute('data-theme') === 'dark';
      if (isDark) {
        root.removeAttribute('data-theme');
        localStorage.setItem('theme', 'light');
        moonIcon.style.display = 'inline';
        sunIcon.style.display = 'none';
      } else {
        root.setAttribute('data-theme', 'dark');
        localStorage.setItem('theme', 'dark');
        moonIcon.style.display = 'none';
        sunIcon.style.display = 'inline';
      }
    });
  });
</script>