---
import '../styles/global.scss';

export interface Props {
  title: string;
  description?: string;
  name: string;
}

const { title, description, name } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description || 'Personal site of Mark Blaha II'} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">{name}</a>
        <li><a href="/projects">Projects</a>
        <li><a href="/resume">Resume</a>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>